<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/articles">Back</a>
    <section>
        <h1>
            <%= article.title%>
        </h1>
        <h2>
            <%= article.description%>
        </h2>
        <h3>
            <%= article.tags%>
        </h3>
        <h4>
            <%= article.author%>
        </h4>
        <h5>
            <%= article.likes%>
        </h5>
        <a href="/articles/<%= article.id%>/increment">Increment Likes</a>

        <a href="/articles/<%= article.id%>/edit">Edit</a>
        <a href="/articles/<%= article.id%>/delete">delete</a>
    </section>
</body>

</html>