<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles Form</title>
</head>

<body>
    <header>
        <a href="/articles">Back</a>
    </header>
    <form action="/articles/<%= articles.id%>" method="POST">
        <input type="text" name="title" placeholder="Enter your title" value="<%= articles.title%>">
        <textarea name="description" placeholder="Enter description" cols="30"
            rows="10"><%= articles.description%></textarea>
        <input type="text" name="tags" placeholder="Enter your tags" value="<%= articles.tags%>">
        <input type="text" name="author" placeholder="Enter author name" value="<%= articles.author%>">
        <input type="text" name="likes" placeholder="Enter likes" value="<%= articles.likes%>">
        <input type="submit" name="submit" value="Edit Article" id="">
    </form>
</body>

</html>